{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Alo Resto !{% endblock %}

{% block body %}
<style>
    .example-wrapper {margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1> Commander les yeux fermer c'est Français !</h1>
    <h2> La france a un incroyable talent !</h2>

</div>
{% endblock %}
